* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

:root {
  --primary-color: #17a2b8;
  --dark-color: #4599ec;
  --navbar_links: #1f1212;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --light-grey: #bfbccb;
  --dark-blue: #0e18ab;
}

.container {
  top: 5%;
  max-width: 100%;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 7vh;
  justify-content: center;
  display: flex;
  background: var(--light-blue);
}

.navbar-link {
  font-size: 0.9rem;
}

.landing-page {
  background: url('./img/lab1.jpg') no-repeat center center/cover;
  position: absolute;
  top: 7vh;
  width: 100vw;
  height: 90vh;
}

.cover-photo {
  position: absolute;
  top: 2vh;
  width: 100vw;
  height: 90vh;
  background: var(--dark-blue);
  opacity: 0.4;
}

.company-info {
  position: absolute;
  top: 90vh;
  width: 100vw;
  height: 0%;
  justify-content: center;
  float: center;
  background: #17a2b8;
}

.paralax-text1 {
  position: absolute;
  top: 0%;
  width: 100vw;
  height: auto;
  background: #fff38d;
  padding-bottom: 180px;
}

.company-name-text {
  position: absolute;
  width: 100vw;
  top: 30vh;
}

.text-center {
  position: absolute;
  top: -10vh;
  text-align: center;
}

.company-name {
  font-family: Caveat;
  color: white;
  font-size: 5rem;
}

.company-text {
  font-family: 'Lobster';
  opacity: 0;
  margin-top: 50px;
  align-items: center;
}

#professionality-relative {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

#professionality-move-1 {
  position: absolute;
  top: 0%;
  right: -100%;
  width: 100%;
  height: 93%;
  z-index: 10;
  background-color: red;
  opacity: 0.2;
  font-size: 3rem;
  border: 1px solid black;
  animation-fill-mode: forwards;
  animation-name: profy-1;
  animation-duration: 8s;
  animation-delay: 3.2s;
  animation-iteration-count: 1;
}

@keyframes profy-1 {
  from {
    top: 0%;
    right: -100%;
  }
  to {
    top: 0%;
    left: 0%;
  }
}

/* #professionality-move-2 {
  position: absolute;
  top: 50%;
  left: 20%;
  border: 1px solid green;
  animation-fill-mode: forwards;
  animation-name: profy-2;
  animation-duration: 6s;
  animation-delay: 15s;
  animation-iteration-count: 1;
}

@keyframes profy-2 {
  from {
    top: 50%;
    left: 20%;
  }
  to {
    top: 50%;
    left: -50%;
  }
} */

.partners-div {
  position: absolute;
  top: 150%;
  width: 100vw;
  height: 100vh;
  background: #7dff49;
  font-family: 'Lobster';
}

.news-div {
  position: absolute;
  top: 290%;
  width: 100vw;
  height: 100vh;
  background: #f9bffe;
}

.paralax-text1-line {
  position: relative;
  top: 110%;
  width: 5%;
  height: 15px;
  background: #dc3545;
  z-index: 100;
}

.admin-panel {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 90%;
  background: var(--light-green);
}
.admin-form {
  position: relative;
  left: 10%;
  top: 20%;
  width: 45%;
  background: var(--light-grey);
}
.text {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.form .form-group {
  margin: 1.2rem 0;
}
.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.content-center {
  display: block;
  align-items: center;
  padding-left: 25%;
}
.list-style {
  list-style: none;
  display: inline;
}
.text-decoration {
  text-decoration: none;
}

.edit-category {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 60%;
  background: var(--light-grey);
  border: 2px solid black;
  z-index: 100;
}

.preloader {
  position: relative;
  top: 20%;
  left: 40%;
}

.categories-list-div {
  position: relative;
  left: 0;
  width: 100%;
  height: auto;
}

.form {
  width: 60vw;
  height: 40vh;
}

ul li {
  display: inline;
}

.pl3 {
  padding-left: 3vw;
}

.pr3 {
  padding-right: 3vw;
}

.pt3 {
  padding-top: 3vh;
}

.pl1 {
  padding-left: 1vw;
}

.pr1 {
  padding-right: 1vw;
}

.pt1 {
  padding-top: 1vh;
}

.color {
  color: azure;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
